
<section id="img-background">

    
    <section id="section">
        <header id="header-icon">
            <div class="logo">
              
                <img src="assets/img/icon/logotipo_transparente-.png" alt="">
            </div>
            <div class="icon">
                <img src="assets/img/icon/telefone.png" alt="">
                <h2>(11) 96870.4279</h2>
            </div>
            <div class="icon">
                <img src="assets/img/icon/endereco-1.png" alt="">
                <h2>Av.Paulista, 500- Bela Vista,<br>
                    São Paulo- SP -CEP01310-000
                </h2>
            </div>
        </header>

        <!-- ______________________________________________ -->

        <header id="header-menu">
            <nav>
                <ul>
                    <li><a href="#section">Home</a></li>
                    <li><a href="#sobre-mim">Sobre Mim</a></li>
                    <li><a href="#nossos-servicos">Serviços</a></li>
                    <li><a href="#section-5">Local de Atendimento</a></li>
                    <li><a href="#section-6">Depoimentos</a></li>
                    <li><a href="#section-7">Contato</a></li>
                </ul>
            </nav>
        </header>
        <header id="header-menu-3">
            <nav>
                <ul >
                    <li><a href="#section">Home</a></li>
                    <li><a href="#sobre-mim">Sobre Mim</a></li>
                    <li><a href="#nossos-servicos">Serviços</a></li>
                    <li><a href="#section-5">Atendimento</a></li>
                    <li><a href="#section-6">Depoimentos</a></li>
                    <li><a href="#section-7">Contato</a></li>
                </ul>
            </nav>
        </header>

        <!-- ______________________________________________ -->

        <main id="content">
            <div class="conteudo">
                <div class="texto">
                    <h1>Aqui começa seu encontro <br>
                        <span>com o equilíbrio.</span>
                    </h1>
                    <h3>Piscólogo Comportamental e Mestre em Psiquiatria e <br>
                        Psicologia Médica, atendendo na Av.Paulista
                    </h3>
                    <button>Vamos conversar? <img src="assets/img/icon/icons8-whatsapp-48.png" alt=""></button>
                    <p>Atendimento online e presencial.</p>
                </div>


            </div>
            

        </main>

    </section>
</section>

    <section id="section-2">

        <div>
            <h1>
                Bem Vindo!
            </h1>
            <div>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna justo, ultrices et lacinia ac,
                    dictum et neque. Ut ut eros enim. Aliquam quis mollis lectus, ac scelerisque dolor. Nulla
                    consectetur turpis nec tortor lacinia ultrices. Maecenas placerat diam id pellentesque dictum. </h3>
            </div>
        </div>
    </section>

    <section id="section-3">
        <div class="texo-3">
            <h1 id="sobre-mim">Dra. Martha Schmidt</h1>
            <h4>Psicóloga Comportamental</h4>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna justo, ultrices et lacinia ac, dictum
                et neque. Ut ut eros enim. Aliquam quis mollis lectus, ac scelerisque dolor. Nulla consectetur turpis
                nec tortor lacinia ultrices. Maecenas placerat diam id pellentesque dictum. Nam hendrerit sed lorem
                feugiat tempus. </h4>
        </div>
        <div class="img-3">
          
            <img src="assets/img/Female-Doctor-PNG-Pic.png" alt="">
        </div>
    </section>


    <!-- ________________________________ -->

    <section id="section-4">
        <div class="texto-4" >
            <h1 id="nossos-servicos">Nossos Serviços</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed magna justo, ultrices et lacinia ac.</p>

        </div>

        <div class="cards">

            
            <div class="cards-1">
                <div>
                    <img src="assets/img/terapia-para-criancas-1.png" alt="">
                    <button class="botao-card">Pisicoterapia Infantil</button>
                </div>
                <div>
                    <img src="assets/img/terapia-casal.jpg" alt="">
                    <button class="botao-card-2">Terapia de Casais</button>
                </div>
                <div>
                    <img src="assets/img/atendimento-psicologico-adolescente.jpg" alt="">
                    <button class="botao-card-3">Terapia com Adolescente</button>
                </div>
            </div>



        </div>
        <div class="cards">
            <div class="cards-1">
                <div>
                    <img src="assets/img/terapia-para-criancas-1.png" alt="">
                    <button class="botao-card">Pisicoterapia Infantil</button>
                </div>
                <div>
                    <img src="assets/img/terapia-casal.jpg" alt="">
                    <button class="botao-card-2">Terapia de Casais</button>
                </div>
                <div>
                    <img src="assets/img/atendimento-psicologico-adolescente.jpg" alt="">
                    <button class="botao-card-3">Terapia com Adolescente</button>
                </div>
            </div>



        </div>

    </section>


    <!-- _______________________________ -->

    <section id="section-5">
        <div id="local-atendimento">
            <div class="texto-atendimento">
                <h1>Local de Atendimento</h1>
                <h3>Av. Paulista, 500 – Bela Vista, São Paulo – SP – CEP 01310-000 </h3>
            </div>
            <div class="img-atentimento">
                <img src="assets/img/local01-300x225.jpg" alt="">
                <img src="assets/img/local02.jpg" alt="">
                <img src="assets/img/local03-300x186.jpg" alt="">
                <img src="assets/img/local04-300x200.jpg" alt="">
                <img src="assets/img/local05-300x215 (1).jpg" alt="">
                <img src="assets/img/local06-300x182.jpg" alt="">
                <img src="assets/img/local07-300x200.jpg" alt="">
                <img src="assets/img/local08.jpg" alt="">
            </div>

        </div>

    </section>

    <section id="section-6">

        <h1>Depoimentos</h1>

        <div class="depoimentos">
         <div class="img-depoimentos">
           <img src="assets/img/img-depoimentos/depoimento01.jpg" alt="">
           <span><h1>Camila Balbino</h1></span>
           <p>Pacciente</p>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, reprehenderit natus aliquid eligendi quisquam repellendus cumque quaerat voluptatum. </p>
         </div>

         <div class="img-depoimentos">
            <img src="assets/img/img-depoimentos/depoimento02.jpg" alt="">
            <span><h1>João Ykaro</h1></span>
            <p>Pacciente</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, reprehenderit natus aliquid eligendi quisquam repellendus cumque quaerat voluptatum. </p>
          </div>

          <div class="img-depoimentos">
            <img src="assets/img/img-depoimentos/depoimento03.jpg" alt="">
            <span><h1>Rafaela Brandão</h1></span>
            <p>Pacciente</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, reprehenderit natus aliquid eligendi quisquam repellendus cumque quaerat voluptatum. </p>
          </div>
         

        </div>

    </section>

    <section id="section-7">

        <div class="contato">
           <h1 class="h1">Contato</h1>
           <div class="cont">
            <img src="assets/img/icon/icons8-google-maps-50.png" alt="">
            <h1>Av. Paulista, 500 - Bela Vista, São Paulo - SP</h1>
           </div>

           <div class="cont">
            <img src="assets/img/icon/icons8-whatsapp-30.png" alt="">
            <h1>(71) 9 87348610</h1>

           </div>

           <div class="cont">
            <img src="assets/img/icon/icons8-nova-mensagem-30.png" alt="">
            <h1>eriveltonmagalhaesdossantos.com</h1>

           </div>
           <button class="button-agenda" >Agende uma consulta <img src="assets/img/icon/icons8-whatsapp-48.png" alt=""></button>
           


        </div>
        <div class="mapa">
            <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d934378.250307437!2d-46.681531!3d-23.82162!3m2!1i1024!2i768!4f13.1!2m1!1sAv.%20Paulista%2C%20500%20-%20Bela%20Vista%2C%20S%C3%A3o%20Paulo%20-%20SP%20-%20CEP%C2%A001310-000%C2%A0!5e0!3m2!1spt-BR!2sus!4v1687978107180!5m2!1spt-BR!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>

    </section>

    <footer>
       <h2>Copyright &copy; 2023-2023– Todos os direitos reservados, por Erivelton Magalães dos Santos.</h2> 
    </footer>